# workspace
*.suo
*.user
*.sln.ide
*.sln.cache
*.sln.docstates
.vs/
.vscode/
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esult*/
.idea/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# npm
node_modules/
npm-debug.log
package-lock.json

# project
*.[Cc]ustom.*
[Ll]ogs/
tempkey.rsa
.env

# other
Thumbs.db
/[Bb]uild/*

#Mac
.DS_Store

*.cache
