<div [formGroup]="form" class="form-group">
    <label [attr.for]="question?.key">{{ question.label }}</label>

    <div [ngSwitch]="question?.controlType">

        <input *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key" [type]="question.type" class="form-control">

        <select *ngSwitchCase="'dropdown'" [formControlName]="question.key" [id]="question.key" class="form-control">
            <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
        </select>

    </div>

    <small *ngIf="!isValid" class="text-danger">{{ question.label }} é obrigatório</small>
</div>